<template>
  <b-navbar toggleable="lg">
    <b-navbar-brand to="/">
      IK
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item :to="{name: 'About'}">
          About
        </b-nav-item>
      </b-navbar-nav>

      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <template #button-content>
            <b-img
              v-if="$i18n.locale == 'en'"
              alt="English"
              src="~country-flag-icons\3x2\GB.svg"
              height="16"
            />
            <b-img
              v-if="$i18n.locale == 'lv'"
              alt="Latvian"
              src="~country-flag-icons\3x2\LV.svg"
              height="16"
            />
          </template>

          <b-dropdown-item
            @click="$i18n.locale = 'en'"
            :active="$i18n.locale == 'en'"
          >
            <b-img
              alt="United States"
              src="~country-flag-icons\3x2\GB.svg"
              height="16"
            />
            EN
          </b-dropdown-item>
          <b-dropdown-item
            @click="$i18n.locale = 'lv'"
            :active="$i18n.locale == 'lv'"
          >
            <b-img
              alt="United States"
              src="~country-flag-icons\3x2\LV.svg"
              height="16"
            />
            LV
          </b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
