<template>
  <div>
    <navbar/>

    <b-container fluid="xl">
      <router-view/>
    </b-container>
  </div>
</template>

<script>
  import Navbar from './components/Navbar';

  export default {
    components: {
      Navbar,
    },
  };
</script>
